<div class="card" style="margin-top: 3em">
  <h5 class="card-header">noName</h5>
  <div class="card-body">
    <h5 class="card-title">Welcome to noName</h5>
    <p class="card-text">
        This is a test site showing of a simple singlepage application built using flask, jquery and a bit of bootstrap.
        You can register a user by clicking the login link in the navbar and from following the instructions.
        You may also view articles currently stored in the servers SQL database by clicking articles in the navbar.
        Once registered and logged in you may create articles cy selecting create article in the navbar.
        If you are the creator of an article you may also delete your article by clicking the delete button on the
        article card in the article list view.
        If you go to the /admin url you may also log in to the admin view if you have the login details and manage the
        database from there.
    </p>
  </div>
</div>